
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

section {
padding: 7rem 1rem;
margin: 0 auto;
max-width: 1200px;
width: 100%
}

body {
margin: 0;
padding-top: 60px;
background-color: lightblue;
}



.header {
position: fixed;
top: 0;
left: 0;
z-index: 3;
background-color: #9370DB;
border-bottom: 0.2rem solid rgba(255, 255, 255, 0.3);
width: 100vw;
overflow-x: hidden;
}

.header section {
display: flex;
align-items: center;
justify-content: flex-start;
gap: 50px;
padding: 1rem 1rem;
background-color: #9370DB;
}

.header section a img {
height: 3rem;
}

.nav a {
background-color: #9370DB;
}

.header section nav a {
margin: 0 2.5rem;
font-size: 1.2rem;
color: black;
transition: 0.4s linear;
background-color: #9370DB;
}

.header section nav a:hover {
color: black;
border-bottom: 0.1rem solid black;
padding-bottom: 0.2rem;
}

.caixa-celular h2 {
text-align: center;
color: black;
text-transform: uppercase;
padding-bottom: 3rem;
font-size: 3rem;
padding: 10px;
margin-bottom: 0rem;

}

.caixa-celular h2 span {
text-align: center;
color: purple;
text-transform: uppercase;
padding-bottom: 3rem;
font-size: 3rem;
padding: 10px;



}


.caixa-sobre h2 {
text-align: center;
color: black;
text-transform: uppercase;
padding-bottom: 1rem;
font-size: 3rem;
margin-bottom: -10;
}



.sobre-samsung h2 {
text-align: center;
text-transform: uppercase;
padding-bottom: 2rem;
font-size: 2.3rem;
background-color: #9370DB;
border-radius: 10px;
margin-bottom: -7rem;
margin-top: -8rem;

}



.sobre-celular {
display: block;
justify-content: space-around;
}

.img-celular img {
max-width: 140px;
height: auto;
flex-direction: row;
margin-top: 20px;
margin-bottom: 15px;
box-shadow: 6px 6px 10px;
}

.container {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin-top: 10px;
transition: transform 0.3s;
margin-bottom: -3rem;

}

.img-celular {
border: 1px solid #ddd;
padding: 10px;
margin: 10px;
text-align: center;
width: 300px;
position: relative;
z-index: 1;
background-color: #9370DB;
border-radius: 10px;
cursor: pointer;
margin-bottom: 20px;
box-shadow: 6px 6px 10px;
margin-bottom: 10rem;;
}

.img-celular:hover {
transform: scale(1.1);
}

.img-celular h3 {
font-size: 18px;
margin: 10px 0;
margin-top: 20px;
}

.img-celular p {
margin: 5px 0;
}

.img-celular .price {
font-size: 20px;
color: #ff9900;
}

.select-icon {
position: absolute;
top: 10px;
right: 10px;
cursor: pointer;
}

.selected {
border: 2px solid #00f;
}

.caixa-sobre h2 {
text-align: center;
color: black;
text-transform: uppercase;
padding-bottom: 1rem;
font-size: 3rem;
margin-bottom: 20;
}

.caixa-sobre h2 span {
color: purple;
}

.caixa-principal {
min-height: 100vh;
display: inline;
align-items: center;
}

.caixa-principal div content {
max-width: 45rem;
padding: 15rem;
}

.caixa-principal div h3 {
font-size: 1.3rem;
color: purple;
line-height: 1.5;
text-transform: uppercase;
padding: 0rem;
margin-bottom: 20px;
}

.sobre-texto p {
color: black;
line-height: 1.5;
padding: 0rem 0;
font-size: 1.1rem;
}

.caixa-principal button:hover {
letter-spacing: 0.1rem;
}

#info {
display: none;
}

#info1 {
display: none;
}

.button {
background-color: #9370DB;
color: black;
cursor: pointer;
margin-top: 3rem;
font-size: 1rem;
padding: 0.5rem 0.5rem;
text-transform: uppercase;
transition: 0.3s linear;
border-radius: 5px;
}

.caixa-sobre .sobre-container {
display: flex;
align-items: center;
}

.caixa-sobre .sobre-container .sobre-imagem img {
width: 50vh;
margin-right: 20px;
display: inline-block;
}


.modal {
display: flex;
flex-direction: column;
background-color: transparent;
gap: 20px;
z-index: 4;
position: fixed;
top: 50%;
left: -150%;
transform: translate(-50%, -50%);
font-size: 2.8rem;
text-transform: uppercase;
transition: left 1s linear;
width: 80%; 
max-width: 600px; 
}


.modal span {
color: purple;
background-color: #9370DB;
border-radius: 10px;
text-align: center;
}

.modal h3 {
color: black;
background-color: #9370DB;
border-radius: 10px;
text-align: center;
}

.mascara {
visibility: hidden;
z-index: 3;
position: fixed;
inset: 0;
width: 100vw;
height: 100vh;
background: rgba(0, 0, 0, 0.8); ;

}

@media (max-width: 768px) {
.modal {
width: 90%; 

}
}

@media (max-width: 480px) {
.modal {
width: 95%; 

}
}


.modal iframe {
width: 100%; 
height: auto; 
}

@media (min-width: 769px) {
.modal iframe { 
height: 450px;
width: 600px;
}
}


@media (max-width: 768px) {
.modal iframe {
height: 400px; 
}
}


@media (max-width: 480px) {
.modal iframe { 
height: 350px; 
}
}



.avaliacoes {
text-align: center;
color: black;
text-transform: uppercase;
padding-bottom: 1rem;
font-size: 2rem;
margin-bottom: 1rem;


}


.avaliacoes h2 {
  text-align: center;
  

}


.avaliacoes h2 span {
color: purple;
text-transform: uppercase;
margin-bottom: -100;
padding: -50;
}

.ava {
text-align: center;
color: black;
text-transform: uppercase;
padding-bottom: 1rem;
font-size: 2rem;
margin-bottom: 6rem;

}

.ava h2 {
  text-align: center;

}

.ava h2 span {
color: purple;
text-transform: uppercase;
margin-bottom: -100;
padding: -50;
}

.card .user {
width: 65px;
margin: -2;
margin-top: -130;
}

.star {
width: 20px;
}

.card h3 {
font-size: 1rem;
color: black;
line-height: 1.5;
text-transform: uppercase;
padding: 0rem;
margin-bottom: 1px;
margin-top: -50;
color: purple;
}

.card p {
color: black;
line-height: 1.5;
font-size: 1.1rem;
padding-bottom: 8rem;
grid-gap: 40px;
margin-bottom: 2rem;
}

.deixe {
margin-top: -300;
}

.foto {
display: inline;
margin-right: 50px;

}


.foto .curriculo {
  flex: 1;
  min-width: 300px;
  margin: 10px;
  box-sizing: border-box
}


.foto img {
max-width: 100%;
height: auto;
flex-direction: row;
margin-top: -3rem;
margin-bottom: 15px;
}


.curriculo form {
 width: 90%;
margin: auto;
            }
        }



@media (max-width: 768px) {
   .emprego {
   flex-direction: column;
   align-items: center {
  
 }
   }       
}



.curriculo {
display: inline;
}

.emprego {
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 10px;

}

.page {
display: flex;
flex-direction: column;
text-align: center;
}

.box {
position: absolute;
top: 50%;
left: 85%;
transform: translate(-50%, -50%);
height: 40px;
border-radius: 40px;
padding: 10px;
}

.botau {
cursor: pointer;
float: right;
width: 40%;
height: 40%;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
transition: 0.8s;
}

.text {
border: none;
outline: none;
float: left;
padding: 0;
color: black;
font-size: 20px;
transition: 0.4s;
width: 0px;
}

.box:hover > .text {
width: 20px;
padding: 0 6px;
}

.box:hover > .botau {
transform: rotate(45deg);
}

/* Media Queries */
@media (max-width: 768px) {
.header section {
flex-direction: column;
gap: 20px;
}

.img-celular {
max-width: 100%;
margin: 10px 0;
height: auto;
}

.caixa-sobre .sobre-container {
flex-direction: column;
}

.caixa-sobre .sobre-container .sobre-imagem img {
max-width: 100%;
margin: 0;
height: auto;
}
}

@media (max-width: 480px) {
.header section nav a {
font-size: 1rem;
margin: 0 1rem;
}



.img-celular {
width: 100%;
margin: 5px 0;
}


@media (max-width: 600px) {
.caixa-celular {
font-size: 2.5rem; 
word-wrap: break-word;
}
}


@media (max-width: 600px) {
.Sobre-celular {
width: 100%;
padding: 10px;
    }
}

@media (max-width: 600px) {
.container {
width: 100%;
padding: 10px;
    }
}


@media (max-width: 600px) {
.sombre-samsung {
width: 100%;
padding: 10px;
    }
}


main {
  background: url("logo.png") no-repeat
  center center;
  background-size: cover;
  height: 92vh;
}
  
